<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Metro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Metro.Properties.Settings>
      <setting name="DBCONNECTION_STRING" serializeAs="String">
        <value>\\METSALES-FILE\Metropolitan Sales Docs\1-Deployment\dbConnect\dbConnection</value>
      </setting>
      <setting name="INVOICE_ARCHIVE" serializeAs="String">
        <value>\\METSALES-GP\Dynamics\MESSNGER\Archive</value>
      </setting>
      <setting name="INVOICE_FILEPATH" serializeAs="String">
        <value>\\METSALES-GP\Dynamics\MESSNGER\</value>
      </setting>
      <setting name="AVALARA_KEY" serializeAs="String">
        <value>Metropolitan Sales Distributors, Inc.</value>
      </setting>
      <setting name="INVOICE_FALLBACK" serializeAs="String">
        <value>\\METRO-GP1\Dynamics\MESSNGER\</value>
      </setting>
      <setting name="AVALARA_ACCOUNT_ID" serializeAs="String">
        <value>2000099535</value>
      </setting>
      <setting name="AVALARA_ACCOUNT_NAME" serializeAs="String">
        <value>Metropolitan Sales Distributors, Inc.</value>
      </setting>
    </Metro.Properties.Settings>
  </applicationSettings>
</configuration>