<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MetroTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MetroTools.Properties.Settings>
            <setting name="_defaultFormHeight" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="_defaultFormWidth" serializeAs="String">
                <value>315</value>
            </setting>
            <setting name="_defaultTabHeight" serializeAs="String">
                <value>345</value>
            </setting>
            <setting name="_defaultTabWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="_ccTabHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="_ccTabWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="_ccFormHeight" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="_ccFormWidth" serializeAs="String">
                <value>515</value>
            </setting>
        </MetroTools.Properties.Settings>
    </applicationSettings>
</configuration>