<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MetroTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MetroTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MetroTools.Properties.Settings>
            <setting name="_defaultFormHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="_defaultFormWidth" serializeAs="String">
                <value>315</value>
            </setting>
            <setting name="_defaultTabHeight" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="_defaultTabWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="_ccTabHeight" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="_ccTabWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="_ccFormHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="_ccFormWidth" serializeAs="String">
                <value>515</value>
            </setting>
            <setting name="_exportTabHeight" serializeAs="String">
                <value>415</value>
            </setting>
            <setting name="_exportTabWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="_exportFormHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="_exportFormWidth" serializeAs="String">
                <value>315</value>
            </setting>
        </MetroTools.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MetroTools.Properties.Settings>
            <setting name="_exportFrequency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="_exportSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="_exportAutosave" serializeAs="String">
                <value>False</value>
            </setting>
        </MetroTools.Properties.Settings>
    </userSettings>
</configuration>